:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  width: 100%;
}
nav{  
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
flex-direction: row;

}
.name{
  color: orange;
  font-weight: bolder;
  margin-left: 30px;
  font-size:50px;
}
.nav{
display: flex;
width: 50%;
flex-direction: row;
align-items: center;
gap: 70px;
}
.search-form{
  display: flex;
  gap:35px;
}
.nav button{
  border: none;
  background-color: #242424;
  transform: scale(1.6);
  color: orange;
    cursor: pointer;
    width: 60px;
}
.search-form button{
  border: 1px solid orange;
  cursor: pointer;
  transform: scale(1.3);
width: 60px;
height:30px;
}
.search-form input{
  height: 30px;
  
}
.cartlist .listitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 140px;
  background-color: #242424;
}
.listitem .iteminfo{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}
.maininfo{
    display: flex;
    flex-direction: column;
   align-items: start;
   justify-content: space-around;
    width: 60%;
    height:100%;

}
.iteminfo img{
  width: 40%;
  height:100%;
}
.maininfo .name{
  display: flex;
font-size: 20px;
font-weight: bolder;
height: 20%;
width: 100%;
text-align: center;
justify-content: center;
margin-left: -5px;
margin-top: -2px;
}
.maininfo .quntity{
  display: flex;
font-size: 17px;
font-weight: bolder;
margin-top: -10px;
height: 20%;
width: 100%;
text-align: center;
justify-content: center;
}
.maininfo .price{
  font-size: 17px;
  height: 20%;
width: 100%;
margin-top: -10px;
text-align: center;

}
.itembuttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30%;
  width: 50%;
  gap: 40px;
}
.itembuttons button{
  border: none;
  height: 50%;
  width: auto;
  align-self: center;
}
.cart-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height:40px ;
}
.cart-buttons button{
  font-size: 10px;
  height: 20px;
  font-weight: bold;
}
.first{
  position: relative;
}
.first img{
  width: 100%;
  height: 1000px;
  filter: blur(3px);
}
.first p{
  position: absolute;
  font-size: 80px;
  top:20%;
  left: 20%;
  text-align: center;
  color: orange;
  font-weight: bolder;
}
.second{
  display: flex;
align-items: center;
  width: 100%;
  height: 1000px;
  flex-direction: row;
  justify-content: space-around;
}
.meanu{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: space-around;
  width: 15%;
  height: 90%;
  border: 1px solid orange;
  border-radius: 50px;
}
.meanu p{
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bolder;
  color: orange;
  height: 10px;

}
.meanu button{
  border: none;
  background-color: #242424;
  color: orange;
  font-size: larger;
  cursor: pointer;
 
}
.meanu button:hover{
  text-decoration: underline;
  transform: scale(1.2);
}
.meanu .clicked{
  text-decoration: underline;
  transform: scale(1.2);
}
.second .items{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
}
.second .list{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.second .list .listitem{
  width:30%;
  height:40%;
}
.second .listitem .itembuttons{
  width: 100%;
}
.second .listitem button{
  background-color: #242424;
  border: 1px solid orange;
  color: orange;
  width: 50%;
  cursor: pointer;
}
.pages{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
  height: 20%;
  width: 60%;
}
.pages-container{
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
width: 140px;
  gap: 10px;
}
.pages button{
  width: 20px;
  text-align: center;
  background-color: #242424;
  border: none;
  color: orange;
  font-size: larger;
  cursor: pointer;
}
.pages button:hover{
text-decoration: underline;
}
.third{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 1000px;
}
.third p{
  height: 100px;
  color: orange;
  text-decoration: underline;
  font-size: 60px;
  font-weight: bolder;
}
.third input{
  width: 300px;
  
}
.third button{
 border: 1px solid orange;
  background-color: #242424;
  color: orange;
}
.third .search-form{
align-items: center;
height: 100px;
margin-top: -30px;
}
.third .items{
  height: 800px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.third .list{
    width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.third .list .listitem{
  width:30%;
  height:40%;
}
.third .pages{
  height: 15%;
}
.third .pages button{
  border: none;
  cursor: pointer;
}
.third .listitem .itembuttons{
  width: 100%;
  justify-content: center;
}
.third .listitem button{
  cursor: pointer;
 height: 60%;
}
.fourth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 900px;
  width: 100%;
  gap: 100px;
}
.fourth p{
  font-size: 70px;
  color: orange;
  text-decoration: underline;
  font-weight: bolder;
margin-top: -10px;
  
}
.slider{
  display: flex;
  flex-direction: row;
justify-content: center;
  width: 85%;
}
.slider .items-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y:hidden ;
  flex-direction: row;
  width: 920px;
  gap: 40px;
  height: 300px;

}
.items-container .listitem{
  min-width:  200px;
  height: 80%;

}
.items-container .listitem .itembuttons{
  width: 100%;
}
.items-container .listitem .itembuttons button{
  border: 1px solid orange;
  background-color: #242424;
  color: orange;
  height: 60%;
  cursor: pointer;
  width: 48%;
}
.fourth .next{
height: 30%;
align-self: center;
font-size: 30px;
margin-left: 30px;
color: orange;
font-weight: bold;
background-color: #242424;
border: none;
cursor: pointer;
}
.taps{
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100px;
  margin-top: -20px;
}
.taps button{
  height: 30px;
  width: 30px;
  background-color: #242424;
  border: 1px solid orange;
  border-radius: 180%;
}
.taps .clicked{
  background-color: orange;
}
.fifth{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifth p{
    font-size: 70px;
  color: orange;
  text-decoration: underline;
  font-weight: bolder;
  align-self: center;
}
.fifth .locations{
  display: flex;
  flex-direction: column;
width: 100%;
}
.locations .start{
  width: 50%;
  justify-content: start;
   height: 500px;
}
.locations .end{
  display: flex;
  flex-direction: column;
    width: 50%;
    align-self: flex-end;
    height: 500px;
}
.locations p{
  font-size: 40px;
}
.sixth{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(53, 53, 53);
  width: 100%;
}
.list p{
  color: orange;
  font-size: 50px;
  align-self: center;
}
.loading{
  border-radius: 180%;
  border: none;
  border-right: 2px solid orange;
  background-color: #242424;
  width: 120px;
  height: 120px;
  
 animation-timing-function: linear;
animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate{
  0%{
transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}