:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
nav{  
  display: flex;
  position: sticky;
  color: orange;
  font-size: 10px;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
flex-direction: row;
z-index: 2000;
background-color: #242424;

}
.name{
  display: flex;
  width: 20%;
  font-weight: bolder;
  margin-left: 2%;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:10px;
}
.name p{
  font-size: 5em;
}
.name img{
  height: 60px;
  width: 5.5em;

}
.container{
  display: flex;
  width: 70%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.nav{
display: flex;
width: 70%;
justify-content: space-between;
flex-direction: row;
align-items: center;

}


.nav button{
  border: none;
  background-color: #242424;
  transform: scale(1.6);
  color: orange;
    cursor: pointer;
    font-size: 1.5em;
    
}
.nav button:hover{
  color: gray;
}

.log{
  width:15%;
  display: flex;
  justify-content: space-between;
 margin-right: 2%;
  
}
.log button{
    background-color: #242424;
   border:1px solid orange ;
   cursor: pointer;
  color: orange;
font-size: 1.9em;
width: 45%;
height: 30px;
align-self: center;
}
.log button:hover{
  border-color: gray;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
margin-left:auto ;
  margin-right: auto;
  height: 60px;
  gap:35px;
 
}

.search-form button{
  background-color: #242424;
  border: 1px solid orange;
  cursor: pointer;
  transform: scale(1.3);
width: 10%;
height:25px;
 color: orange;
 font-size: 1em;
}
.search-form button:hover{
  border:1px solid gray ;
  color: orange;
}
.search-form input{
  height: 35px;
  width: 40%;
  font-size: 1em;
}
.cartlist .listitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 140px;
  background-color: #242424;
}
.listitem .iteminfo{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}
.maininfo{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-around;
   
    width: 60%;
    height:100%;

}
.iteminfo img{
  width: 40%;
  height:100%;
}
.maininfo .name{
  display: flex;
font-size: 1.4em;
font-weight: bolder;

width: 95%;
text-align: center;
justify-content: center;
margin-left: -5px;
margin-top: -2px;
}
.maininfo .ingredients{
  font-size: 1.2em;
  width: 95%;
overflow-wrap: break-word;
  text-align: center;

}
.maininfo .quntity{
  display: flex;
font-size: 1.2em;
font-weight: bolder;
margin-top: -10px;
height: 20%;
width: 100%;
text-align: center;
justify-content: center;
}
.maininfo .price{
  font-size: 1.7em;
  height: 20%;
width: 100%;
margin-top: -10px;
text-align: center;

}
.itembuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30%;
  width: 40%;
  
}
.itembuttons button{
  border: none;
  height: 50%;
  width: auto;
  align-self: center;
}
.cart-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height:40px ;
}
.cart-buttons button{
  font-size: 10px;
  height: 20px;
  font-weight: bold;
  border: 1px solid orange;
}
.cart-buttons button:hover{
  border: 1px solid gray;
  color: orange;
}
.first{
  width: 100%;
  position: relative;
 
}
.first img{
  width: 100%;
  height: 1000px;
  filter: blur(3px);
}
.first p{
  position: absolute;
  font-size: 5rem;
  top:25%;
  left: auto;
  right: auto;
  width: 100%;
  text-align: center;
  color: orange;
  font-weight: bolder;
}
nav ul p{
  font-size: larger;
  font-weight: bolder;
}
.second{
  display: flex;
align-items: center;
  width: 100%;
  height: 1000px;
  font-size: 10px;
  flex-direction: row;
  justify-content: space-around;
}
.meanu{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: space-around;
  width: 15%;
  height: 90%;
  border: 1px solid orange;
  border-radius: 50px;
}
.meanu p{
  text-decoration: underline;
  font-size: 3.5em;
  font-weight: bolder;
  color: orange;
  height: 10px;

}
.meanu button{
  border: none;
  background-color: #242424;
  color: orange;
  font-size: 2em;
  cursor: pointer;
 
}
.meanu button:hover{
  text-decoration: underline;
  transform: scale(1.2);
}
.meanu .clicked{
  text-decoration: underline;
  transform: scale(1.2);
}
.second .items{
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.second .list{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.second .list .listitem{
  width:30%;
  height:40%;
  list-style: none;
}
.second .listitem .itembuttons{
  width: 100%;
}
.second .listitem button{
  background-color: #242424;
  border: 1px solid orange;
  color: orange;
  font-size: 1.3em;
  width: 40%;
  cursor: pointer;
}
.second .listitem button:hover{
  border: 1px solid gray;
}
.pages{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 10%;
  width: 60%;
}
.pages-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
min-width: 140px;
max-width: 140px;
  gap: 10px;
  
}
.pages button{
 max-width: 20px;
 min-width: 20px;
  text-align: center;
  background-color: #242424;
  border: none;
  color: orange;
  font-size: larger;
  cursor: pointer;
  font-size: 15px;

}
.pages button:hover{
text-decoration: underline;
}
.pages .clicked{
  text-decoration: underline;
}
.third{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
gap:30px;
  width: 100%;
  height: 1000px;
}
.third p{

  color: orange;
  text-decoration: underline;
  font-size: 6em;
  font-weight: bolder;
}

.third .search-form{
align-items: center;


}
.third .search-form button{
   border: 1px solid orange;
  background-color: #242424;
  color: orange;
  font-size: 2em;
  width: 15%;
}
.third .search-form button:hover{
   border: 1px solid gray;
}
.third input{
  width: 50%;
  font-size: 1.7em;
}
.third .items{
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
}
.third .list{
    width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.third .list .listitem{
  width:30%;
  height:40%;
  list-style: none;
}
.third .pages{
  height: 10%;
}
.third .pages button{
  border: none;
  cursor: pointer;
  font-size: 2em;
}
.third .listitem p{
  text-decoration: none;
}
.third .listitem .itembuttons{
  width: 100%;
  justify-content: space-around;

}
.third .listitem button{
    border: 1px solid orange;
  background-color: #242424;
  color: orange;
  cursor: pointer;
  font-size: 1.5em;
   height: 60%;
   width: 35%;
}
.third .listitem button:hover{
  border: 1px solid gray;
}
.fourth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 900px;
  width: 100%;
  gap: 100px;
}
.fourth p{
  font-size: 70px;
  color: orange;
  text-decoration: underline;
  font-weight: bolder;
margin-top: -10px;
  
}
.slider{
  display: flex;
  flex-direction: row;
justify-content: center;
  width: 85%;
}
.slider .items-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y:hidden ;
  flex-direction: row;
  width: 920px;
  gap: 40px;
  height: 300px;

}
.slider .none{
  text-decoration: none;
   font-size: 50px;
   align-self: center;
   margin-left: 20px;
   margin-top: 20px;
}
.items-container ul{
  display: flex;
  flex-direction: row;
  gap:40px;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
}
.items-container .listitem{
  min-width:  200px;
  max-width: 200px;
  height: 80%;

}
.items-container .listitem .itembuttons{
  width: 100%;
}
.items-container .listitem .itembuttons button{
  border: 1px solid orange;
  background-color: #242424;
  color: orange;
  height: 60%;
  cursor: pointer;
  width: 48%;
}
.items-container .listitem .itembuttons button:hover{
  border: 1px solid gray;
}
.fourth .next{
height: 30%;
align-self: center;
font-size: 30px;
margin-left: 50px;
color: orange;
font-weight: bold;
background-color: #242424;
border: none;
cursor: pointer;
}
.fourth .prev{
  height: 30%;
align-self: center;
font-size: 30px;
margin-right: 50px;
color: orange;
font-weight: bold;
background-color: #242424;
border: none;
cursor: pointer;
}
.taps{
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100px;
  margin-top: -20px;
}
.taps button{
  height: 30px;
  width: 30px;
  background-color: #242424;
  border: 1px solid orange;
  border-radius: 180%;
}
.taps .clicked{
  background-color: orange;
}
.taps button:hover{
 cursor: pointer;
}
.fifth{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifth p{
    font-size: 70px;
  color: orange;
  text-decoration: underline;
  font-weight: bolder;
  align-self: center;
}
.fifth .locations{
  display: flex;
  flex-direction: column;
width: 100%;
}
.locations .start{
  width: 50%;
  justify-content: start;
      align-self: flex-start;
   height: 550px;
}
.locations .end{
  display: flex;
  flex-direction: column;
    width: 50%;
    align-self: flex-end;
    height: 550px;
}
.locations p{
  font-size: 40px;
  text-align: center;
  height: 100px;
}
.locations .location{
  height: 400px;
  width: 100%;
}
.leaflet-container{
  height: 100%;
  width: 100%;
}
.sixth{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(53, 53, 53);
  width: 100%;
  height: 50px;
}
.list p{
  color: orange;
  font-size: 50px;
  align-self: center;
}
.loading{
   border: none;
  border-radius: 180%;
  border-right: 2px solid orange;
  background-color: #242424;
  width: 120px;
  height: 120px;
  
 animation-timing-function: linear;
animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate{
  0%{
transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.overlay{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
}
.dialog{
position: fixed;
top:25%;
left: 25%;
width: 50%;
height: 50%;
background-color: #242424;
z-index: 15000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.totalprice{
font-size: 50px;
font-weight: bolder;
color: orange;

text-align: center;
}
.button-container{
  display: flex;
  flex-direction: row;
 
  width: 100%;
  justify-content: space-around;
}
.button-container button{
width: 20%;
height:40px;
border: 1px solid orange;
color: orange;
background-color: #242424;
font-size: 25px;
cursor: pointer;

}
.button-container button:hover{
  border: 1px solid gray;
}
.formdialog{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
gap: 15px;
}
.formdialog p{
  color: orange;
  font-size: x-large;
}
.formdialog input{
  width: 45%;
  height: 30px;
}
.thankyou{
  color: orange;
  font-size: 40px;
}
.contact{
  display: flex;
  flex-direction: column;
  height: 60%;
  color: orange;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}
.intro{
position: absolute;

  
 text-align: center;
  transition: all 2s 0s ease;
  
}
.display{
  transform: translateX(-100%);
  opacity: 0%;
}

@media only screen and (max-width: 1440px) {
 nav{
    font-size: 8px;
  }
  .first p{
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 1024px) {
 nav{
    font-size: 6px;
  }
  .search-form{
    font-size: 0.8em;
  }
    .first p{
    font-size: 4rem;
  }
  .second{
    font-size: 8px;
  }
  .third{
    font-size: 8px;
  }

}
@media only screen and (max-width: 768px) {
 nav{
    font-size: 4.3px;
  }
  .log button{
    height: 20px;
  }
  .name img{
    height: 35px;
  }
  .search-form{
    font-size: 0.6em;
  }
  .search-form button{
    height: 20px;
  }
   .search-form input{
    height: 25px;
  }
  .first p{
    top:27%;
    font-size: 2.5rem;
  }
  .first img{
    height: 650px;
  }
   .second{
    font-size: 7px;
  }
  .third{
    font-size: 7px;
    height: 700px;
  }
  .third .itembuttons button{
    width: 40%;
  }
  .third .search-form input{
    width: 60%;
  }
 
}
@media only screen and (max-width: 425px) {
 nav{
    flex-direction: column;
    gap: 10px;
  }
  .name{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .nav{
    width: 75%;
    justify-content: space-around;
  }
  .log{
    width: 25%;
    justify-content: space-around;
  }
  .log button{
    height: 15px;
    width: 35%;
  }
  .search-form{
    width: 78%;
    font-size: 0.46em;
  }
  .search-form button{
    height: 17px;

  }
   .search-form input{
    height: 20px;
  }
  .first img{
    height: 450px;
  }
   .first p{
    top:32%;
    font-size: 1.3rem;
  }
    .second{
    font-size: 6px;
    height: 800px;
  }
  .second .list .listitem{
    width: 40%;
    height: 30%;
  }
  .second .meanu{
    width: 20%;
    align-self: self-start;
    height: 85%;
  }

  .second .list{
    height: 90%;
    align-self: self-start;
  }
  .second .pages{
   height: 5%;
  }
  .second .pages button{
    height: 10%;
    font-size: 10px;
  }

  .third{
    font-size: 5px;
    height: 550px;
    justify-content: space-around;
    gap: 0px;
  }
  .third .list{
    width: 90%;
  }
  
    .third .search-form button{
    font-size: 2.7em;
   
  }
  .third .items{
    height: 500px;
  }
  .third .listitem{
    min-width:40%;
    max-height: 30%;
  }
}